# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# Git
.git
.gitignore

# VS Code
.vscode/

# Database
db.sqlite3

# Environment variables
.env

# Logs
*.log

#doctorimg
doctorimg/
